* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Mencegah scroll jika tak perlu */
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-box {
  background-color: #ffd700;
  padding: 200px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  max-width: 90%;
  width: 1500px;
}

.file-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a58dff;
  color: white;
  padding: 100px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #9275f5;
}

.icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.label-text {
  font-size: 18px;
  font-weight: bold;
}

.file-input {
  display: none;
}

.file-preview {
  margin-top: 20px;
  background-color: #eee;
  color: #333;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 14px;
  min-height: 40px;
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
}

.previewFolder {
  display: flex;
  flex-direction: row;
}

button {
  background-color: #1e1e1e;
  color: #fff;
  padding: 12px 10px;
  border-radius: 10px;
  font-size: 14px;
  min-height: 20px;
  width: 20%;
  margin-top: 20px;
  margin-left: 10px;
}