<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naspad Talk - Chat Room</title>
  <link rel="stylesheet" href="/public/chat.css">
  <link rel="shortcut icon" href="/public/logo.png" type="image/x-icon">
</head>

<body>
  <!-- Sidebar Navigation -->
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="/public/logo.png" alt="Logo" class="sidebar-logo">
      <span class="sidebar-title">Naspad Admin</span>
    </div>
    <ul class="sidebar-menu">
      <li><a href="/" class="sidebar-link">Chat</a></li>
      <li><a href="/input" class="sidebar-link">Upload Dokumen</a></li>
    </ul>
  </div>

  <div class="chat-container">
    <div class="chat-header">
      <img src="/public/logo.png" alt="Bot" class="bot-logo">
      <h2>Naspad Talk</h2>
    </div>

    <div class="chat-box" id="chatBox">
      <div class="bot-message">Hai, ada yang bisa aku bantu?</div>
    </div>

    <form class="chat-input-area" enctype="multipart/form-data">
      <div class="input-wrapper">
        <input type="text" id="userInput" placeholder="Ketik pesan di sini..." required>
        <button type="submit" class="send-button">
          Kirim
        </button>
      </div>
    </form>
  </div>

  <script>
    function userMessaging() {
      const userMessage = document.getElementById('userInput').value;
      if (userMessage) {
        const messageElement = document.createElement('div');
        messageElement.classList.add('user-message');
        messageElement.textContent = userMessage;
        document.getElementById('chatBox').appendChild(messageElement);
      }
      document.getElementById('userInput').value = '';
      return userMessage
    }

    const botResponse = async (userMessage) => {
      const messageElement = document.createElement('div');
      messageElement.classList.add('bot-message');
      messageElement.textContent = "Sedang memproses...";
      messageElement.style.fontStyle = "italic";
      document.getElementById('chatBox').appendChild(messageElement);

      const res = await fetch('/search', {
        method: 'POST',
        body: JSON.stringify({ question: userMessage }),
        headers: {
          'Content-Type': 'application/json'
        }
      });

      const responseMessage = await res.text();
      messageElement.style.fontStyle = "normal";
      messageElement.textContent = responseMessage;
    }

    const form = document.querySelector('.chat-input-area');
    form.addEventListener('submit', async function (event) {
      event.preventDefault();
      const userMessage = userMessaging()
      await botResponse(userMessage)
    });
  </script>
</body>

</html>